
.header-image{
    max-height: toRem(100);
}

.main-header-text {
    line-height: 1;
}


.header-bars{
    display: none;
    cursor: pointer;
}

.header-icon{
    height: 4em;
    width: 4em;
    cursor: pointer;    
}

.page-header{
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
}

@import './BarsMenu.scss';